ul {
    display: block;
    list-style-type: disc;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    border-radius: 4px;
    background-color: #424242;
}

.nav-pills {
    position: absolute;
    top: 0;
    left: 5px;
}

.manBtn {
    position: absolute;
    top: 30%;
    left: 25%;
    color: white;
    font-family: 'Proxima Nova Black';
    border-radius: 4px;
    border: none;
    box-shadow: none;
    padding: 25px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(#00abdb, #68e2ff);
    /*display: inline-block;
    box-sizing: border-box; 
    font-family: 'Proxima Nova Black';
    font-size: inherit;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0.5em 0 0.5em 0;
    padding: 9px 13px 8px 13px;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background: linear-gradient(#00abdb, #68e2ff);*/
}

.stopBtn {
    position: absolute;
    top: 50%;
    left: 25%;
    color: white;
    font-family: 'Proxima Nova Black';
    border-radius: 4px;
    border: none;
    box-shadow: none;
    padding: 25px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(#b20000, #ff4646);
}

.autoBtn {
    position: absolute;
    top: 70%;
    left: 25%;
    color: white;
    font-family: 'Proxima Nova Black';
    border-radius: 4px;
    border: none;
    box-shadow: none;
    padding: 25px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(#00abdb, #68e2ff);

}

.modal {
    z-index: 1; /* Sit on top */
    background-color: gray;
}

.modal-content {
    background-color: dimgrey;
    padding: 20px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}